* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #270318;
}

.header {
    width: 100%;
    min-height: 600px;
    padding: 120px;
    background: url("./images/deluxe-bg.jpg");
    background-size: cover;
    background-position: center;
}

.header h1 {
    /*color: #fffae4;          skorobila
    color: #ffecb6;          zlata
    color: #270318;             fialova*/
    margin-top: 90px;
    margin-bottom: 30px;
    color: #ff6d10;         /* oranzova  */
    font-family: 'Poiret One', cursive;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}

.header h2 {
    color: #ff6d10;
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    text-align: center;
}

.header p {
    width: 50%;
    max-width: 650px;
    margin: 0 auto;
    color: rgba(255, 109, 16, 0.4);
    /*color: rgba(255, 236, 182, 0.4);   */
    font-family: 'Raleway', sans-serif;
    font-size:24px;
    text-align: center;
}

.header a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.main_content {
    padding: 0;
    margin: 100px auto;
    width: calc(100% - 60px);
    max-width: 1600px;
}

p.index_page {
    width: 60%;
    max-width: 700px;
    margin: 0 auto;
    color: rgba(255, 109, 16, 0.8);
    /*color: rgba(255, 236, 182, 0.4);   */
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    text-align: center;
}

.button {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: calc(200px / 282 * 233);
    background-color: #ffecb6;
    background-image: url("./images/logo.png");
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}

.button:hover {
    box-shadow: inset 10px 10px 10px #ff6d10, inset -10px -10px 10px #ff6d10;
}

.image {
    display: inline-block;
    position: relative;
    /*margin-left: 30px;
    max-width: 1366px;        - varianta s tlacitkem */
    width: 100%;
    border: none;
}

.image img {
    width: 100%;
    border: 5px solid #ffecb6;
}

.caption {
    position: absolute;
    width: 40%;
    padding: 10px;
    margin: 30px 0 0 30px;
    color: #fffae4;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    border: none;
    background: rgba(255, 109, 16, 0.5);
    box-shadow: 5px 5px 20px 15px rgba(255, 109, 16, 0.3), -5px -5px 10px 15px rgba(255, 109, 16, 0.3);
}

.caption p {
    margin: 10px;
    font-weight: 700;
    font-style: italic;
}

.caption h4 {
    margin: 0;
    font-weight: 400;
    text-align: right;
}

.footer {
    width: 100%;
    height: 150px;
    color: #ffecb6;
    background: rgba(255, 109, 16, 0.05);
    font-family: 'Poiret One', cursive;
    font-size: 24px;
    text-align: center;
}

.footer p {
    position: relative;
    top: calc(50% - 12px);
}

@media (max-width: 1670px) {

    .header {
        width: 100%;
        min-height: 450px;
        padding: 90px;
    }

    .main_content {
        padding: 0;
        margin: 75px 0;
        width: 100%;
    }

    .image img {
        border: 10px solid #ffecb6;
    }
    
}

@media (max-width: 1200px) {

    .header {
        width: 100%;
        min-height: 450px;
        padding: 90px;
    }

    .header h1 {
        margin-top: 65px;
        margin-bottom: 20px;
        font-size: 60px;
    }

    .header h2 {
        font-size: 20px;
    }

    .header p {
        width: 50%;
        font-size:20px;
    }

    .main_content {
        padding: 0;
        margin: 50px 0;
        width: 100%;
    }

    p.index_page {
        font-size:20px;
    }

    .caption {
        width: 50%;
        font-size: 20px;
    }

    .footer {
        height: 100px;
        font-size: 20px;
        text-align: center;
    }

    .footer p {
        top: calc(50% - 10px);
    }
}

@media (max-width: 900px) {
    .caption {
        width: 80%;
    }
}

@media (max-width: 600px) {

    .header {
        min-height: 300px;
        padding: 60px;
    }

    .header h1 {
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 45px;
    }

    .header h2 {
        margin-bottom: 0;
    }

    .header p {
        width: 90%;
        margin: 0 auto;
        color: rgba(255, 109, 16, 0.4);
    }

    .main_content {
        margin-top: 80px;
        margin-bottom: 40px;
    }

    p.index_page {
        width: 90%;
    }

    .button {
        width: 150px;
        height: calc(150px / 282 * 233);
        background-size: 120px;
    }

    .image img {
        width: 100%;
        border: 5px solid #ffecb6;
    }

    .caption {
        position: relative;
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .caption p {
        margin-bottom: 5px;
        font-weight: 400;
    }
}


