<!DOCTYPE html>
<html lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

    <title>Ukol02 - meme generator</title>
</head>
<body>
    <header>
        <div class="header">
            <p>In memory and anticipation of the newest episode of <strong>Living World: Season&nbsp4</strong> in Guild Wars&nbsp2.</p>
            <br>
            <p>The one that, sadly, I have currently no time to play through.</p>
            <a href="./index.html">
                <div class="home">
                    <h1>A Bug in the System</h1>
                    <h2>a pic &amp quote generator for the Java&nbsp2 course</h2>
                </div>
            </a>
        </div>
    </header>
    <main id="button_anchor">
        <div class="main_content">
            <!-- tlacitko, ktere nefunguje, protoze zatim neumim vynutit reload stranky
            <a href="novyindex#button_anchor">
                <div class="button">
                </div>
            </a>
            -->
            <div class="image">
                <div class="caption">
                    <!--/*@thymesVar id="citace" type="java.lang.String"*/-->
                    <p th:text="${citace}">If Thymeleaf template works, there is a quote here.</span></p>
                    <!--/*@thymesVar id="autor" type="java.lang.String"*/-->
                    <h4>- <span th:text="${autor}">And here is the author of the quote.</span></h4>
                </div>
                <!--/*@thymesVar id="obrazek" type="java.lang.String"*/-->
                <img th:src="${obrazek}" src="./images/pics/pic01.jpg">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer">
            <p>Dana Kutálková, III/2018</p>
        </div>
    </footer>
</body>
</html>
