<!DOCTYPE html>
<html lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

    <title>Ukol02 - meme generator</title>
</head>
<body>

    <header>
        <div class="header">
            <p>In memory and anticipation of the newest episode of <strong>Living World: Season 4</strong>.</p>
            <br>
            <p>The one which, sadly, I have currently no time to play through.</p>
            <h1>A Bug in the System</h1>
            <h2>a pic &amp quote generator for the Java 2 course</h2>
        </div>
    </header>

    <main>
        <div id="button_anchor" class="main_content">
            <a href="novyindex.html#button_anchor">     <!-- aby nebylo nutne rolovat po kazdem reloadu z horniho konce stranky az k obrazku-->
                <div class="button">
                </div>
            </a>
            <div class="image">
                <div class="caption">
                    <!--/*@thymesVar id="citace" type="java.lang.String"*/-->
                    <p th:text="${citace}">If Thymeleaf template works, there is a quote here.</p>
                    <!--/*@thymesVar id="autor" type="java.lang.String"*/-->
                    <h4 th:text="${autor}">And here is the author of the quote.</h4>
                </div>
                <img src="./images/mappic5.jpg">
            </div>
        </div>
    </main>
    <footer>
    </footer>

</body>
</html>
